.routeDiv {
    display: flex;
    flex-direction: row;
}

.switch-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.account-nav {
    width: 10%;
    border: 1px lightgray solid;
    height: fit-content;
}
